# Zależności (biblioteki)
node_modules/
jspm_packages/

# Build i wyjściowe pliki Next.js
.next/
out/
build/

# Pliki środowiskowe (klucze API, hasła - ważne!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logi błędów
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systemowe pliki śmieci
.DS_Store
Thumbs.db

# TypeScript (jeśli używasz)
*.tsbuildinfo
